$mainGreen: rgb(133, 222, 60, 0.9);
$evenGreen: rgba(121, 223, 37, 0.4);
$oddGreen: rgba(156, 251, 79, 0.4);
$textColor: rgb(31, 31, 31);

#root {
  margin: 0 auto;
  text-align: center;
  color: $textColor;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

// HEADER -------------------------
.header {
  width: 100%;
  height: 5rem;
  background-color: $mainGreen;
  font-size: 2.5rem;
  text-align: right;
  text-transform: capitalize;
  padding-top: 1rem;
  padding-right: 2rem;
  color: rgb(31, 31, 31, 0.85);
}

// CONTROL -------------------------

.controler-box {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .sort-box,
  .filter-box {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .sort-box {
    font-size: 0.9rem;
    .sort-select {
      padding: 0.4em;
      border-radius: 0.25rem;
    }
  }
  .filter-box {
    .filter-btn {
      font-size: 0.9rem;
      padding: 0.4em;
      border-radius: 0.25rem;
      background-color: $evenGreen;
      .fa {
        margin-left: 0.25rem;
        margin-right: 0.5rem;
      }
    }
  }
}
// LIST -----------------------------------

.countries-list-box {
  width: 60%;
  margin: 3rem auto;
  background-color: rgba(170, 236, 117, 0.4);
  // background-image: linear-gradient(
  //   0deg,
  //   hsl(111deg 47% 97%) 0%,
  //   hsl(117deg 54% 93%) 14%,
  //   hsl(119deg 57% 90%) 29%,
  //   hsl(120deg 59% 86%) 43%,
  //   hsl(120deg 60% 81%) 57%,
  //   hsl(120deg 62% 76%) 58%,
  //   hsl(121deg 64% 71%) 60%,
  //   hsl(121deg 66% 64%) 70%
  // );

  .countries-list {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    .country-line {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0.8em 0 0.8em 2em;
      font-size: 1.1rem;
      font-weight: 500;
      gap: 0.1rem;
      .country-region {
        color: rgba(61, 112, 20);
        font-size: 0.95rem;
      }
      .sq-km {
        font-size: 18px;
        margin-left: 0.25rem;
      }
    }
    .country-line:nth-child(even) {
      background-color: $evenGreen;
    }
    .country-line:nth-child(odd) {
      background-color: $oddGreen;
    }
  }
}

// PAGINATION ---------------------------

.pagination-field {
  display: flex;
  gap: 0.2rem;
}

.pages {
  display: flex;
  gap: 0.25rem;
  .page-number {
    cursor: pointer;
  }
}

@media (max-width: 560px) {
  .countries-list-box {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .countries-list-box {
    .countries-list {
      gap: 0.3em;
      .country-line {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0.6em 0 0.6em 1.6em;
        font-size: 0.9rem;
        font-weight: 500;
        .country-name {
          text-align: left;
        }
      }
    }
  }
}
