$mainGreen: rgb(133, 222, 60, 0.9);
$evenGreen: rgba(121, 223, 37, 0.4);
$oddGreen: rgba(156, 251, 79, 0.4);
$textColor: rgb(31, 31, 31);
$mainBackground: #e3ffe3;

#root {
  margin: 0 auto;
  text-align: center;
  color: $textColor;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-page {
  background-color: $mainBackground;
}

// HEADER -------------------------
.header {
  width: 100%;
  height: 5rem;
  background-color: $mainGreen;
  font-size: 2.5rem;
  text-align: right;
  text-transform: capitalize;
  padding-top: 1rem;
  padding-right: 2rem;
  color: rgb(31, 31, 31, 0.85);
}

// CONTROL -------------------------

.controler-box {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .sort-box,
  .filter-box {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  .sort-box {
    font-size: 0.9rem;
    .sort-select {
      padding: 0.4em;
      border-radius: 0.25rem;
    }
  }
  .filter-box {
    .filter-btn {
      font-size: 0.9rem;
      padding: 0.4em;
      border-radius: 0.25rem;
      background-color: $evenGreen;
      .fa {
        margin-left: 0.25rem;
        margin-right: 0.5rem;
      }
    }
  }
}
// LIST -----------------------------------

.countries-list-box {
  width: 60%;
  margin: 3rem auto;
  background-color: rgba(170, 236, 117, 0.4);
  min-height: 100vh;
  .countries-list {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    .country-line {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0.8em 0 0.8em 2em;
      font-size: 1.1rem;
      font-weight: 500;
      gap: 0.1rem;
      .country-region {
        color: rgba(61, 112, 20);
        font-size: 0.95rem;
      }
      .sq-km {
        font-size: 18px;
        margin-left: 0.25rem;
      }
    }
    .country-line:nth-child(even) {
      background-color: $evenGreen;
    }
    .country-line:nth-child(odd) {
      background-color: $oddGreen;
    }
  }
}

// LOADER ------------------------------
#loading {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 3rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

// PAGINATION ---------------------------

.pagination-box {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  .pagination-list {
    display: flex;
    gap: 0.2rem;
    .page-item {
      list-style: none;
      font-size: 0.9rem;
      .page-btn {
        width: 1.8rem;
        background-color: $evenGreen;
        padding: 0.2rem 0;
        cursor: pointer;
        border: none;
        .fa {
          font-weight: 400;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .countries-list-box,
  .pagination-box,
  .controler-box {
    width: 80%;
  }
}

@media (max-width: 520px) {
  body {
    font-size: 14px;
  }
  .header {
    font-size: 2rem;
    text-align: center;
  }
  select {
    option {
      min-height: 1.2rem;
    }
  }
}

@media (max-width: 480px) {
  .pagination-box {
    .pagination-list {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 400px) {
  .countries-list-box {
    .countries-list {
      gap: 0.3em;
      .country-line {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0.6em 0 0.6em 1.6em;
        font-size: 0.9rem;
        font-weight: 500;
        .country-name {
          text-align: left;
        }
      }
    }
  }
}
